@{
    Layout="Shared/_Layout.cshtml";
}


<h1>Update information for @Model.GetName()</h1>
<form action="/venue/edit/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <label for="new-venue-name">New name:</label>
    <input id="new-venue-name" name="new-venue-name" type="text">

    <button type="submit">Update venue</button>
</form>
<p><a href="/venues">Update venues</p>
<p><a href="/">Go back home</a></p>
