
<h1 class="venue-name">@Model.GetName()</h1>



  <form action="/venue/delete/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn">Delete this venue</button>
  </form>
</form>
  <form class="appears" action="/venues/edit/@venue.GetId()" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <label for="new-venue-name">New Name: </label>
        <input type="text" name="new-venue-name" value="@venue.GetName()">
        <button type="submit" class="btn">Update</button>
  </form>
  
  <p><a href="/venues/new" class="links">Add another venue</a></p>
  <p><a href="/" class="links">Go back home</a></p>
</div>
